In [1]:
# Imports and pip installations (if needed)
import pandas as pd
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
# SK learn ML
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier
from sklearn.neighbors import KNeighborsClassifier

# Part 1: Load the dataset

In [2]:
# Load the dataset (load remotely, not locally)

# Output the first 15 rows of the data
# Display a summary of the table information (number of datapoints, etc.)
iris = load_iris()
X, y = load_iris(return_X_y=True, as_frame=True)
# Create y df with target column name 
y = pd.DataFrame(y).rename(columns = {0: 'target'})
# Join X and y into one df to show entire dataset as a df 
df = pd.concat([X, y], axis = 1)
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

## About the dataset
Explain what the data is in your own words. What are your features and labels? What is the mapping of your labels to the actual classes?

In [3]:
# A peek into our dataset as a data_frame
df.head(15)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
5,5.4,3.9,1.7,0.4,0
6,4.6,3.4,1.4,0.3,0
7,5.0,3.4,1.5,0.2,0
8,4.4,2.9,1.4,0.2,0
9,4.9,3.1,1.5,0.1,0
10,5.4,3.7,1.5,0.2,0
11,4.8,3.4,1.6,0.2,0
12,4.8,3.0,1.4,0.1,0
13,4.3,3.0,1.1,0.1,0
14,5.8,4.0,1.2,0.2,0

In [4]:
# Mapping label value to corrsponding class
print_target_names = [print(x, iris['target_names'][x]) for x in range(0,3)]
# Show previously constructed df information using the describe method
df.describe()

0 setosa
1 versicolor
2 virginica

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
count,150.000000,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333,1.000000
std,0.828066,0.435866,1.765298,0.762238,0.819232
min,4.300000,2.000000,1.000000,0.100000,0.000000
25%,5.100000,2.800000,1.600000,0.300000,0.000000
50%,5.800000,3.000000,4.350000,1.300000,1.000000
75%,6.400000,3.300000,5.100000,1.800000,2.000000
max,7.900000,4.400000,6.900000,2.500000,2.000000

# Part 2: Split the dataset into train and test

In [5]:
# Take the dataset and split it into our features (X) and label (y)

# Use sklearn to split the features and labels into a training/test set. (90% train, 10% test)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.10)

# Part 3: Logistic Regression

In [6]:
# i. Use sklearn to train a LogisticRegression model on the training set
logistic_reg = LogisticRegression(max_iter=300)
logistic_reg.fit(X_train, y_train.values.ravel())

LogisticRegression(max_iter=300)

In [7]:
# ii. For a sample datapoint, predict the probabilities for each possible class
logistic_probabilities = pd.DataFrame(logistic_reg.predict_proba(X_test), columns=iris['target_names'])
logistic_probabilities

      setosa  versicolor     virginica
0   0.001260    0.419632  5.791075e-01
1   0.005961    0.924646  6.939270e-02
2   0.000142    0.157974  8.418837e-01
3   0.011538    0.754691  2.337712e-01
4   0.985348    0.014652  2.102463e-08
5   0.962074    0.037926  1.002000e-07
6   0.954363    0.045637  1.220263e-07
7   0.000732    0.431375  5.678932e-01
8   0.000006    0.017853  9.821407e-01
9   0.003203    0.912115  8.468276e-02
10  0.066584    0.929469  3.946885e-03
11  0.029728    0.923508  4.676401e-02
12  0.000315    0.177672  8.220133e-01
13  0.008008    0.939953  5.203911e-02
14  0.000615    0.263144  7.362412e-01

In [8]:
# iii. Report on the score for Logistic regression model, what does the score measure?
logistic_reg.score(X_test, y_test)

1.0

In [9]:
# iv. Extract the coefficents and intercepts for the boundary line(s)
print("Coeff:\t", logistic_reg.coef_, end="\n\n")
print("Intercept:\t",logistic_reg.intercept_)

Coeff:	 [[-0.41951467  0.93638026 -2.43359806 -1.05279545]
 [ 0.53214964 -0.33185085 -0.22767761 -0.79000683]
 [-0.11263497 -0.60452942  2.66127567  1.84280227]]

Intercept:	 [  9.59016141   2.11571737 -11.70587877]

# Part 4: Support Vector Machine

In [10]:
# i. Use sklearn to train a Support Vector Classifier on the training set
SVM = SVC(kernel = 'linear', probability=True)
SVM.fit(X_train, y_train.values.ravel())

SVC(kernel='linear', probability=True)

In [11]:
# ii. For a sample datapoint, predict the probabilities for each possible class
SVM_probabilities = pd.DataFrame(SVM.predict_proba(X_test), columns=iris['target_names'])
SVM_probabilities

      setosa  versicolor  virginica
0   0.016866    0.396382   0.586753
1   0.007576    0.983088   0.009336
2   0.013018    0.094407   0.892575
3   0.011579    0.859233   0.129187
4   0.976491    0.014734   0.008775
5   0.957054    0.029658   0.013288
6   0.959150    0.027192   0.013658
7   0.016422    0.313062   0.670517
8   0.005607    0.002970   0.991423
9   0.005549    0.945263   0.049188
10  0.058024    0.928701   0.013275
11  0.016590    0.973801   0.009609
12  0.015756    0.034341   0.949904
13  0.008659    0.982520   0.008821
14  0.017330    0.163274   0.819396

In [12]:
# iii. Report on the score for the SVM, what does the score measure?
SVM.score(X_test, y_test)

1.0

# Part 5: Neural Network

In [13]:
# i. Use sklearn to train a Neural Network (MLP Classifier) on the training set
MLP_Classifier = MLPClassifier(solver='lbfgs', hidden_layer_sizes=(3, 3))
MLP_Classifier.fit(X_train, y_train.values.ravel())

MLPClassifier(hidden_layer_sizes=(3, 3), solver='lbfgs')

In [14]:
# ii. For a sample datapoint, predict the probabilities for each possible class
ML_Probalities = pd.DataFrame(MLP_Classifier.predict_proba(X_test), columns=iris['target_names'])
ML_Probalities

          setosa    versicolor     virginica
0   2.115784e-55  2.647675e-01  7.352325e-01
1   7.404321e-27  9.999914e-01  8.634397e-06
2   1.506299e-73  3.536866e-04  9.996463e-01
3   1.052592e-40  9.954219e-01  4.578142e-03
4   9.999830e-01  1.703200e-05  3.706461e-14
5   9.999830e-01  1.703200e-05  3.706461e-14
6   9.999830e-01  1.703200e-05  3.706461e-14
7   1.003580e-58  8.983464e-02  9.101654e-01
8   1.000026e-93  1.694298e-07  9.999998e-01
9   3.474118e-36  9.994071e-01  5.928608e-04
10  6.012797e-08  9.999999e-01  1.631180e-09
11  4.768627e-25  9.999962e-01  3.802058e-06
12  2.542352e-76  1.237455e-04  9.998763e-01
13  8.509030e-26  9.999947e-01  5.338479e-06
14  3.331761e-61  3.682542e-02  9.631746e-01

In [15]:
# iii. Report on the score for the Neural Network, what does the score measure?
MLP_Classifier.score(X_test, y_test)

1.0

In [16]:
# iv: Experiment with different options for the neural network, report on your best configuration (the highest score I was able to achieve was 0.8666)

# Part 6: K-Nearest Neighbors

In [17]:
# i. Use sklearn to 'train' a k-Neighbors Classifier
# Note: KNN is a nonparametric model and technically doesn't require training
# fit will essentially load the data into the model see link below for more information
# https://stats.stackexchange.com/questions/349842/why-do-we-need-to-fit-a-k-nearest-neighbors-classifier
KNN_Model = KNeighborsClassifier(n_neighbors=3)
KNN_Model.fit(X, y.values.ravel())

KNeighborsClassifier(n_neighbors=3)

In [18]:
# ii. For a sample datapoint, predict the probabilities for each possible class
KNN_Probabilities = pd.DataFrame(KNN_Model.predict_proba(X_train), columns=iris['target_names'])
KNN_Probabilities

     setosa  versicolor  virginica
0       0.0         0.0        1.0
1       0.0         0.0        1.0
2       1.0         0.0        0.0
3       0.0         0.0        1.0
4       1.0         0.0        0.0
..      ...         ...        ...
130     0.0         0.0        1.0
131     0.0         1.0        0.0
132     0.0         1.0        0.0
133     1.0         0.0        0.0
134     0.0         0.0        1.0

[135 rows x 3 columns]

In [19]:
# iii. Report on the score for kNN, what does the score measure?
KNN_Model.score(X_test, y_test)

1.0

# Part 7: Conclusions and takeaways

In your own words describe the results of the notebook. Which model(s) performed the best on the dataset? Why do you think that is? Did anything surprise you about the exercise?